In [1]:
# Dependencies

from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests

- NASA Mars News

In [2]:
# Use spliter to obtain the information from the website 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [ ]:
# Delay the extraction of information since the website took several seconds to load completely
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

In [ ]:
# Scrape page into Soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
slide_elem = soup.find_all('div', class_='list_text')

In [ ]:
# Obtain the lastest news title

news_title = slide_elem[0].find('a').text
news_title

In [ ]:
# Obtain the summary paragraph of the lastest new 

news_p = slide_elem[0].find('div', class_='article_teaser_body').text
news_p

### JPL Mars Space Images

In [ ]:
# Use spliter to obtain the information from the website 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [ ]:
# Scrape page into Soup
html = browser.html
image_soup = BeautifulSoup(html, 'html.parser')
image_elem = image_soup.find_all('div', class_='carousel_items')

In [ ]:
# Iterate through the feature image botton
feature_image_botton = image_elem[0].find('a', class_="button fancybox")
feature_image_botton

In [ ]:
# Find the website source of the image

browser.links.find_by_partial_text('FULL IMAGE').click()
browser.links.find_by_partial_text('more info').click()

In [ ]:
#Delay the extraction of information since the website took several seconds to load completely
browser.is_element_present_by_css("figure.lede", wait_time=1)

In [ ]:
# Store the html of the current website
image_html = browser.html

In [ ]:
# Scrape page into Soup
image_soup = BeautifulSoup(new_html, 'html.parser')

In [ ]:
# Retrieve the figure tag 
figure_tag= image_soup.find_all('figure', class_='lede')

In [ ]:
# Retrieve the image source from figure tag
image_source = figure_tag[0].find('a')['href']

In [ ]:
image_source

In [ ]:
# Store the image url 

website_url = 'https://www.jpl.nasa.gov/'
image_url = website_url + image_source
image_url

### Mars Facts

In [3]:
# Use spliter to obtain the information from the website 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [67]:
# Scrape page into Soup
html_facts = browser.html
facts_soup = BeautifulSoup(html_facts, 'html.parser').tostring

In [69]:
# Display the information that was retrieve
print(table_info.prettify())

<tbody>
 <tr class="row-1 odd">
  <td class="column-1">
   <strong>
    Equatorial Diameter:
   </strong>
  </td>
  <td class="column-2">
   6,792 km
   <br/>
  </td>
 </tr>
 <tr class="row-2 even">
  <td class="column-1">
   <strong>
    Polar Diameter:
   </strong>
  </td>
  <td class="column-2">
   6,752 km
   <br/>
  </td>
 </tr>
 <tr class="row-3 odd">
  <td class="column-1">
   <strong>
    Mass:
   </strong>
  </td>
  <td class="column-2">
   6.39 × 10^23 kg
   <br/>
   (0.11 Earths)
  </td>
 </tr>
 <tr class="row-4 even">
  <td class="column-1">
   <strong>
    Moons:
   </strong>
  </td>
  <td class="column-2">
   2 (
   <a href="https://space-facts.com/moons/phobos/">
    Phobos
   </a>
   &amp;
   <a href="https://space-facts.com/moons/deimos/">
    Deimos
   </a>
   )
  </td>
 </tr>
 <tr class="row-5 odd">
  <td class="column-1">
   <strong>
    Orbit Distance:
   </strong>
  </td>
  <td class="column-2">
   227,943,824 km
   <br/>
   (1.38 AU)
  </td>
 </tr>
 <tr class="row-6 even">
  <td class="column-1">
   <strong>
    Orbit Period:
   </strong>
  </td>
  <td class="column-2">
   687 days (1.9 years)
   <br/>
  </td>
 </tr>
 <tr class="row-7 odd">
  <td class="column-1">
   <strong>
    Surface Temperature:
   </strong>
  </td>
  <td class="column-2">
   -87 to -5 °C
  </td>
 </tr>
 <tr class="row-8 even">
  <td class="column-1">
   <strong>
    First Record:
   </strong>
  </td>
  <td class="column-2">
   2nd millennium BC
  </td>
 </tr>
 <tr class="row-9 odd">
  <td class="column-1">
   <strong>
    Recorded By:
   </strong>
  </td>
  <td class="column-2">
   Egyptian astronomers
  </td>
 </tr>
</tbody>

In [36]:
table_test_2 = """
 <tbody>
  <tr class="row-1 odd">
   <td class="column-1">
    <strong>
     Equatorial Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,792 km
    <br/>
   </td>
  </tr>
  <tr class="row-2 even">
   <td class="column-1">
    <strong>
     Polar Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,752 km
    <br/>
   </td>
  </tr>
  <tr class="row-3 odd">
   <td class="column-1">
    <strong>
     Mass:
    </strong>
   </td>
   <td class="column-2">
    6.39 × 10^23 kg
    <br/>
    (0.11 Earths)
   </td>
  </tr>
  <tr class="row-4 even">
   <td class="column-1">
    <strong>
     Moons:
    </strong>
   </td>
   <td class="column-2">
    2 (
    <a href="https://space-facts.com/moons/phobos/">
     Phobos
    </a>
    &amp;
    <a href="https://space-facts.com/moons/deimos/">
     Deimos
    </a>
    )
   </td>
  </tr>
  <tr class="row-5 odd">
   <td class="column-1">
    <strong>
     Orbit Distance:
    </strong>
   </td>
   <td class="column-2">
    227,943,824 km
    <br/>
    (1.38 AU)
   </td>
  </tr>
  <tr class="row-6 even">
   <td class="column-1">
    <strong>
     Orbit Period:
    </strong>
   </td>
   <td class="column-2">
    687 days (1.9 years)
    <br/>
   </td>
  </tr>
  <tr class="row-7 odd">
   <td class="column-1">
    <strong>
     Surface Temperature:
    </strong>
   </td>
   <td class="column-2">
    -87 to -5 °C
   </td>
  </tr>
  <tr class="row-8 even">
   <td class="column-1">
    <strong>
     First Record:
    </strong>
   </td>
   <td class="column-2">
    2nd millennium BC
   </td>
  </tr>
  <tr class="row-9 odd">
   <td class="column-1">
    <strong>
     Recorded By:
    </strong>
   </td>
   <td class="column-2">
    Egyptian astronomers
   </td>
  </tr>
 </tbody>
"""

In [31]:
# Use Pandas to convert the data to a HTML table string

import pandas as pd
from IPython.display import display_html

In [71]:
# https://beenje.github.io/blog/posts/parsing-html-tables-in-python-with-pandas/
dfs = display_html(table_test_2, raw=True)
dfs

Equatorial Diameter:,"6,792 km"
Polar Diameter:,"6,752 km"
Mass:,6.39 × 10^23 kg (0.11 Earths)
Moons:,2 ( Phobos & Deimos )
Orbit Distance:,"227,943,824 km (1.38 AU)"
Orbit Period:,687 days (1.9 years)
Surface Temperature:,-87 to -5 °C
First Record:,2nd millennium BC
Recorded By:,Egyptian astronomers

In [60]:
dfs_test = pd.read_html('https://space-facts.com/mars/')
dfs_test[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers